body, input {
    margin: 10px;
    padding: 0;
    background-color: black;
    color: white;
}

body, p, div, th, td {
    font-family: Helvetica;
}

input.search {
    margin: 10px;
    padding: 5px;
}

th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection  { background:transparent; }
th.sort-header { cursor:pointer; }

#table {
    border-collapse: collapse;
    border: 0;
    padding: 0;
}

#table tbody, #table thead {
    margin: 0;
    padding: 0;
    border: 0;
}

#table td {
    padding: 8px 8px 6px 8px;
    margin: 0;
    border: 0;
}

#table th {
    padding: 5px 5px 5px 5px;
}

#table th.sort-header:after {
    content: "\25B2";
    margin: 0 3px;
    visibility: hidden;
}

#table th.sort-header:hover:after {
    visibility: visible;
}

#table th.sort-up:after {
    content: "\25BC";
}
#table th.sort-down:after {
    content: "\25B2";
}

#table th.sort-up:after,
#table th.sort-down:after,
#table th.sort-down:hover:after {
    visibility: visible;
}

#table tr {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
}

#table tr:hover {
    background-color: #222;
}

#table tr:hover th {
    background-color: #000;
}

#table tr.selected td {
    background-color: #444;
}

#table tr.pinned {
    background-color: #888;
}

#table tr[data-skip='true'] {
    color: #888;
}

#table tr, #table td {
            user-select: none; /* CSS3 (little to no support) */
        -ms-user-select: none; /* IE 10+ */
       -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}
